DB_URI=AQUI_TU_VALOR
JWT_secret_key=AQUI_TU_VALOR

USER_EMAIL=AQUI_TU_VALOR
USER_PASSWORD=AQUI_TU_VALOR

# Variables de Mailjet (Envío de correos por API HTTP en producción)
API_KEY_MAILJET=AQUI_TU_VALOR
API_SECRET_MAILJET=AQUI_TU_VALOR
MAILJET_FROM_EMAIL=AQUI_TU_VALOR
MAILJET_FROM_NAME=AQUI_TU_VALOR


CLOUDINARY_CLOUD_NAME=AQUI_TU_VALOR
CLOUDINARY_API_KEY=AQUI_TU_VALOR
CLOUDINARY_API_SECRET=AQUI_TU_VALOR
